#zzBackup fieldset {
    counter-reset: section;
    border: 1px solid rgb(0, 119, 255);
}

#zzBackup legend {
    color: rgb(224, 0, 162);
}

#zzBackup ol {
    margin: 5px 0 15px;
    list-style: none outside none
}

#zzBackup li:before {
    counter-increment: section;
    content: counter(section) '.';
    width: 30px;
    display: inline-block;
    text-align: right;
    margin-right: 5px
}

.backupOption {
    font-size: 18px;
    color: rgb(0, 168, 161);
}


#importNoti strong {
    color: #DA4FB8
}

#zzBackup dt label {
    display: block;
    margin-top: 10px;
    color: #777;
}

#zzBackup dt label:hover {
    color: #111;
}

#zzBackup label input:checked ~ span {
    color: #0094CA;
}

.buttonOne {
    display: none;
    margin-top: 10px;
    padding: 7px 20px;
    background: rgb(249, 14, 94);
    color: #FFF;
    font-weight: bold;
    border: 3px solid #DDD;
}

.buttonOne:hover {
    border-color: #444;
    cursor: pointer;
}

.buttonOne:active {
    background: #444;
}

#zzBackup :disabled, #zzBackup :disabled ~ span {
    color: #999;
    cursor: not-allowed;
}

#skin {
    display: none;
}
