body: {
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

#status {
    color: forestgreen;
    float: right;
    font-weight: 300;
}

#enterURL {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#enterURL p {
    padding: 0;
    margin: 0 0 10px 0;
}

#enterURL label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

#enterURL input[type=text],
#enterURL input[type=date],
#enterURL input[type=datetime],
#enterURL input[type=number],
#enterURL input[type=search],
#enterURL input[type=time],
#enterURL input[type=url],
#enterURL input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

#enterURL input[type=text]:focus,
#enterURL input[type=date]:focus,
#enterURL input[type=datetime]:focus,
#enterURL input[type=number]:focus,
#enterURL input[type=search]:focus,
#enterURL input[type=time]:focus,
#enterURL input[type=url]:focus,
#enterURL input[type=email]:focus,
#enterURL textarea:focus,
#enterURL select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

#enterURL .field-divided {
    width: 49%;
}

#enterURL .field-long {
    width: 100%;
}

#enterURL .field-select {
    width: 100%;
}

#enterURL .field-textarea {
    height: 100px;
}

#enterURL input[type=submit],
#enterURL input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

#enterURL input[type=submit]:hover,
#enterURL input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#enterURL .required {
    color: red;
}
